
<div class="login-page 100vh">
  <div class="login-card">
    <div class="curve-div"></div>
    <div>
      <img src="../../assets/images/login-pic.png" />
    </div>
    <div>
      <div class="login-form">
        <span>EMAIL</span>
        <input />
        <span class="mt-2">PASSWORD</span>
        <input />
        <div class="btns-row">
          <button class="login-form-btn">Login</button>
          <button class="login-form-btn register-btn">Register</button>
        </div>
      </div>
    </div>
  </div>

</div>

