
<div class="login-page 100vh">
  <div class="login-card">
    <div>
      <img src="../../assets/images/login-pic.png" />
    </div>
    <div>
      <div *ngIf="!isRegister" class="login-form">
        <span>EMAIL</span>
        <input />
        <span class="mt-2">PASSWORD</span>
        <input />
        <div class="btns-row">
          <button class="login-form-btn">Login</button>
          <button class="login-form-btn register-btn" (click)="ChangeMode()">Register</button>
        </div>
      </div>
      <div *ngIf="isRegister" class="login-form">
        <span>FULL NAME</span>
        <input [(ngModel)]="registerForm.fullName" />
        <span>EMAIL</span>
        <input [(ngModel)]="registerForm.email"/>
        <span class="mt-2">PASSWORD</span>
        <input type="password" [(ngModel)]="registerForm.password"/>
        <span class="mt-2">PHONE NUMBER</span>
        <input [(ngModel)]="registerForm.phoneNumber"/>
        <div class="btns-row">
          <button class="login-form-btn" (click)="ChangeMode()">Back</button>
          <button class="login-form-btn register-btn" (click)="printForm()">Continue</button>
        </div>
      </div>
    </div>
  </div>

</div>

