.cardImage {
    width:200px;
    height:200px;
    border-radius:50%;
    object-fit:cover;
}
.clientInfo {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap:10px;
  padding-left:25px;
}
.button-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 30px;
}
.verticalCenter {
  display: flex;
  align-items: center;
}
.clientName {
    font-weight:bold;
}
.clientGuestsAmount {
    letter-spacing:1px;
}
svg {
    margin-left:10px;
}
.newReqBtn {
  position: fixed;
  top: 80px;
  right: 45px;
  width: 50px;
  border-radius: 50px;
}
