/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn {
  height: 50px;
  width: 150px;
  color: rgb(255, 250, 244);
  letter-spacing: 1px;
}

.approveBtn {
  background-color: rgb(210, 83, 128);
}

  .approveBtn:hover {
    background-color: rgb(180, 83, 128);
  }

.cancelBtn {
  background-color: rgb(224, 142, 109);
}

  .cancelBtn:hover {
    background-color: rgb(200, 142, 109);
  }
  * {
      direction:rtl;
  }
.mat-form-field-flex {
  width: 340px !important;
}
.mat-form-field-ripple {
  background-color: rgb(24, 95, 170);
}
